<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="***"/>
		<add key="dtName" value="SomeDT"/>
		<add key="appfolder" value="AccurateAutomation"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="logfilename" value="app.log"/>
		<add key="enableconsolelog" value="Y"/>
		<add key="screenshotfolder" value ="log"/>
		<add key="loginId" value="supervisor"/>
		<add key="password" value="supervisor"/>
		<add key="DBaddresspath" value=""/>
	</appSettings>
</configuration>