<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dtID" value="0"/>
		<add key="dtName" value="DEMO_ACCURATE_DESKTOP"/>
		<add key="appfolder" value="AccurateAutomation"/>
		<add key="uploadfolder" value="upload"/>
		<add key="sharingfolder" value="sharing"/>
		<add key="enableconsolelog" value="Y"/>
		<add key="screenshotfolder" value ="log"/>
		<add key="loginId" value="supervisor"/>
		<add key="password" value="supervisor"/>
		<add key="erpappnamepath" value="C:\Program Files (x86)\CPSSoft\ACCURATE4 Enterprise\Accurate.exe"/>
		<add key="DBaddresspath" value="C:\Program Files (x86)\CPSSoft\ACCURATE4 Enterprise\Sample\Sample.GDB"/>
		<add key="uploadtosandbox" value="Y"/>
	</appSettings>
</configuration>